*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container__app{
  width: 70%;
  margin: 0 auto;
  margin-top:4rem;
}
h1{
  margin-bottom: 2rem;
}
.form{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #f9dcc4;
  border-radius: 4px;
}